In [40]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [29]:
col_names = ['pregnant','glucose','bp','skin','insuline','bmi','predigree','age','outcome'];
pima = pd.read_csv("exp6.csv",header=None,names=col_names)

In [30]:
pima

         pregnant  glucose  ...  age  outcome
0     Pregnancies  Glucose  ...  Age  Outcome
1               2      138  ...   47        1
2               0       84  ...   23        0
3               0      145  ...   31        1
4               0      135  ...   24        1
...           ...      ...  ...  ...      ...
1996            2       75  ...   33        0
1997            8      179  ...   36        1
1998            6       85  ...   42        0
1999            0      129  ...   26        1
2000            2       81  ...   25        0

[2001 rows x 9 columns]

In [31]:
pima = pima.iloc[1:]

In [32]:
pima.head()

  pregnant glucose  bp skin insuline   bmi predigree age outcome
1        2     138  62   35        0  33.6     0.127  47       1
2        0      84  82   31      125  38.2     0.233  23       0
3        0     145   0    0        0  44.2      0.63  31       1
4        0     135  68   42      250  42.3     0.365  24       1
5        1     139  62   41      480  40.7     0.536  21       0

In [38]:
feature_col = col_names
x = pima[feature_col]
y = pima.outcome

In [43]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
print("Accurancy: ",metrics.accuracy_score(y_test,y_pred))

Accurancy:  1.0